@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    --blue: hsl(248, 32%, 49%);
    --darkBlue: hsl(249, 10%, 26%);
    --grayishBlue: hsl(246, 25%, 77%);
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    color: #fff;
    background-image: url(../img/bg-intro-desktop.png);
    background-color: var(--red);
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: wrap;
}

.container>div {
    flex: 1;
    padding: 0 20px;
}

h1 {
    font-size: 3.8rem;
    line-height: 65px;
}

p {
    font-size: 1.1rem;
    opacity: 0.8;
}

form {
    background-color: #fff;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 8px rgba(0, 0, 0, 0.2);
}


.form-control {
    position: relative;
    margin-bottom: 17px;
    padding-bottom: 20px;
}

.form-control small {
    color: hsl(0, 100%, 74%);
    font-size: 0.7rem;
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0;
}

.form-control small:not(.terms-and-conditions) {
    font-style: italic;
}

.form-control.error small {
    opacity: 1;
}

input {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 17px;
    border-radius: 5px;
    width: 100%;
}

input::placeholder {
    font-weight: 600;
    opacity: 0.8;
}

input:focus {
    outline: none;
    border: 1.2px solid var(--grayishBlue);
}

.form-control.error input {
    border-color: hsl(0, 100%, 74%);
    color: hsl(0, 100%, 74%);
}

.form-control.error input::placeholder {
    color: var(--softRed);
}

.form-control img {
    opacity: 0;
    position: absolute;
    top: 17px;
    right: 25px;
}

.form-control.error img {
    opacity: 1;
}

button {
    cursor: pointer;
    border-radius: 10px;
    padding: 20px;
    color: #fff;
    outline: none;
    border: none;
    font-size: 1.1rem;
    font-weight: 600;
    width: 100%;
}

button:active {
    transform: translateY(2px);
}

button.bg-purple {
    background-color: var(--blue);
    margin-bottom: 20px;
    box-shadow: 0 8px rgba(0, 0, 0, 0.2);
}

button.bg-green {
    background-color: var(--green);
    text-transform: uppercase;
    border: 1px solid hsl(154, 59%, 45%);
    box-shadow: 0 3px hsl(154, 59%, 40%);
    letter-spacing: 1px;
}

.text-light {
    opacity: 0.7;
}

.terms-and-conditions {
    display: block;
    color: #bbb;
    font-size: 0.7rem;
    font-weight: 600;
    margin-top: 20px;
    text-align: center;
}

.terms-and-conditions a {
    color: var(--red);
    font-weight: 700;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .section-right {
        margin-bottom: 40px;
    }

    h1 {
        text-align: center;
        font-size: 3rem;
        line-height: 1.2;
    }

    p {
        text-align: center;
    }
}